$bright-blue: hsl(220, 98%, 61%);
$background-grad-left: hsl(192, 100%, 67%);
$background-grad-right: hsl(280, 87%, 65%);

// Light Theme
$l-very-light-gray: hsl(0, 0%, 98%);
$l-very-light-grayish-blue: hsl(236, 33%, 92%);
$l-light-grayish-blue: hsl(233, 11%, 84%);
$l-dark-grayish-blue: hsl(236, 9%, 61%);
$l-very-dark-grayish-blue: hsl(235, 19%, 35%);

// Dark Theme
$d-very-dark-blue: hsl(235, 21%, 11%);
$d-very-dark-desaturated-blue: hsl(235, 24%, 19%);

$d-light-grayish-blue: hsl(234, 39%, 85%);
$d-light-grayish-blue-hover: hsl(236, 33%, 92%);

$d-dark-grayish-blue: hsl(234, 11%, 52%);

$d-very-dark-grayish-blue: hsl(233, 14%, 35%);
$d-very-very-dark-grayish-blue: hsl(237, 14%, 26%);

$font-size: 18px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  &.light {
    header {
      transition: all 0.3s ease;
      background-image: url("/todo/static/images/bg-mobile-light.jpg");
    }

    .hero {
      &__title {
        transition: all 0.3s ease;
        color: white;
      }
    }

    main {
      transition: all 0.3s ease;
      background: $l-very-light-gray;
    }

    .todo__check:checked ~ .todo__text {
      transition: all 0.3s ease;
      color: $l-light-grayish-blue;
    }

    .todo {
      &__field,
      &__list__item {
        transition: all 0.3s ease;
        color: $l-very-dark-grayish-blue;
      }

      &__footer,
      &__navigation {
        transition: all 0.3s ease;
        color: $l-dark-grayish-blue;
      }

      &__field,
      &__list,
      &__navigation {
        transition: all 0.3s ease;
        background: white;
        box-shadow: 0 5px 5px rgba($color: $l-dark-grayish-blue, $alpha: 0.12);
      }

      &__add {
        transition: all 0.3s ease;
        color: $l-dark-grayish-blue;
      }

      &__check {
        &--ds {
          transition: all 0.3s ease;
          border: 1px solid $l-light-grayish-blue;
        }
      }

      &__list {
        &__empty {
          transition: all 0.3s ease;
          color: $l-dark-grayish-blue;
        }
        &__item {
          transition: all 0.3s ease;
          border-bottom: 1px solid $l-very-light-grayish-blue;

          &:hover {
            background: $l-very-light-gray;
          }
        }
      }
    }

    .navigation {
      &__tabs {
        &:hover {
          transition: all 0.3s ease;
          color: $l-very-dark-grayish-blue;
        }

        &.active {
          transition: all 0.3s ease;
          color: darken($color: $bright-blue, $amount: 5%);
        }
      }
    }

    .attribution {
      transition: all 0.3s ease;
      color: $d-very-dark-blue;
    }
  }

  &.dark {
    header {
      transition: all 0.3s ease;
      background-image: url("/todo/static/images/bg-mobile-dark.jpg");
    }

    .hero {
      &__title {
        transition: all 0.3s ease;
        color: white;
      }
    }

    main {
      transition: all 0.3s ease;
      background: $d-very-dark-blue;
    }

    .todo__check:checked ~ .todo__text {
      transition: all 0.3s ease;
      color: $d-very-dark-grayish-blue;
    }

    .todo {
      &__field,
      &__list__item {
        transition: all 0.3s ease;
        color: $d-very-dark-grayish-blue;
      }

      &__footer,
      &__navigation {
        transition: all 0.3s ease;
        color: $d-dark-grayish-blue;
      }

      &__field,
      &__list,
      &__navigation {
        transition: all 0.3s ease;
        background: $d-very-dark-desaturated-blue;
        box-shadow: 0 5px 5px
          rgba($color: $d-very-dark-grayish-blue, $alpha: 0.12);
      }

      &__add {
        transition: all 0.3s ease;
        color: $d-dark-grayish-blue;
      }

      &__check {
        &--ds {
          transition: all 0.3s ease;
          border: 1px solid $d-very-dark-blue;
        }
      }

      &__list {
        &__empty {
          transition: all 0.3s ease;
          color: $d-dark-grayish-blue;
        }
        &__item {
          transition: all 0.3s ease;
          border-bottom: 1px solid $d-very-dark-grayish-blue;
          color: $d-light-grayish-blue;

          &:hover {
            background: $d-very-dark-grayish-blue;
          }
        }
      }
    }

    .navigation {
      &__tabs {
        &:hover {
          color: $d-very-dark-grayish-blue;
        }

        &.active {
          color: darken($color: $bright-blue, $amount: 5%);
        }
      }
    }

    .attribution {
      color: $d-light-grayish-blue;
    }
  }
}

header {
  min-height: 30vh;
  padding-top: 8vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    letter-spacing: 5px;
  }

  &__mode {
    cursor: pointer;
    transition: all 0.3 ease;

    &:hover {
      border-radius: 5px;
      transform: scale(1.2);
    }
  }
}

main {
  min-height: 70vh;
  position: relative;
}

.todo {
  margin-top: -15vh;
  padding: 0 5vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;

  &__field,
  &__list__item,
  &__navigation {
    padding: 1rem;
  }

  &__field,
  &__list__item,
  &__footer,
  &__navigation {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  &__field,
  &__list,
  &__navigation {
    border-radius: 5px;
  }

  &__add {
    border: 0;
    font-weight: normal;
    outline: none;
    width: 100%;
    background: transparent;
  }

  &__list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    &__empty {
      font-size: 14px;
      margin: 1rem auto;
    }

    &__item {
      cursor: pointer;
    }
  }

  &__check {
    display: none;

    &:checked + &--ds {
      background: linear-gradient(
        -45deg,
        $background-grad-right,
        $background-grad-left
      );
      border: 1px solid lighten($color: $bright-blue, $amount: 20%);

      &::after {
        content: "";
        margin: 3px;
        background-image: url("/todo/static/images/icon-check.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 16px;
        height: 16px;
      }
    }

    &--ds {
      border-radius: 50%;
      width: 18px;
      height: 18px;
      margin-right: 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__check:checked ~ &__text {
    text-decoration: line-through;
  }

  &__text {
    flex: 1;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  &__clear {
    cursor: pointer;
    width: 18px;
    height: 18px;
    fill: $l-dark-grayish-blue;

    &:hover {
      fill: $l-very-dark-grayish-blue;
    }

    &--all {
      cursor: pointer;

      &:hover {
        color: $l-very-dark-grayish-blue;
      }
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .todo__remaining {
      display: block;
      margin: 1rem;
    }
    .todo__clear--all {
      display: block;
      margin: 1rem;
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    .todo__footer {
      display: none;

      p {
        margin: 0;
      }
    }
  }

  &__helper {
    margin: 2rem auto;
    color: $l-dark-grayish-blue;
  }
}

.todo__remaining {
  white-space: nowrap;
}
.todo__clear--all {
  white-space: nowrap;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &__tabs {
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 960px) {
  body {
    &.light {
      header {
        background-image: url("/todo/static/images/bg-desktop-light.jpg");
      }
    }
    &.dark {
      header {
        background-image: url("/todo/static/images/bg-desktop-dark.jpg");
      }
    }
  }

  .todo {
    padding: 0 30vw;
    min-width: 80vw;

    &__list {
      &__item:last-child {
        border-bottom: 0 !important;
      }
    }

    &__list {
      .todo__footer {
        display: none !important;
      }
    }

    &__navigation {
      .todo__footer {
        display: flex;
      }
    }
  }

  header {
    padding-left: 30vw;
    padding-right: 30vw;
  }
}

@keyframes slidesIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
