* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body.light header {
  transition: all 0.3s ease;
  background-image: url("/todo/images/bg-mobile-light.jpg");
}
body.light .hero__title {
  transition: all 0.3s ease;
  color: white;
}
body.light main {
  transition: all 0.3s ease;
  background: #fafafa;
}
body.light .todo__check:checked ~ .todo__text {
  transition: all 0.3s ease;
  color: #d2d3db;
}
body.light .todo__field, body.light .todo__list__item {
  transition: all 0.3s ease;
  color: #484b6a;
}
body.light .todo__footer, body.light .todo__navigation {
  transition: all 0.3s ease;
  color: #9394a5;
}
body.light .todo__field, body.light .todo__list, body.light .todo__navigation {
  transition: all 0.3s ease;
  background: white;
  box-shadow: 0 5px 5px rgba(147, 148, 165, 0.12);
}
body.light .todo__add {
  transition: all 0.3s ease;
  color: #9394a5;
}
body.light .todo__check--ds {
  transition: all 0.3s ease;
  border: 1px solid #d2d3db;
}
body.light .todo__list__empty {
  transition: all 0.3s ease;
  color: #9394a5;
}
body.light .todo__list__item {
  transition: all 0.3s ease;
  border-bottom: 1px solid #e4e5f1;
}
body.light .todo__list__item:hover {
  background: #fafafa;
}
body.light .navigation__tabs:hover {
  transition: all 0.3s ease;
  color: #484b6a;
}
body.light .navigation__tabs.active {
  transition: all 0.3s ease;
  color: #216afd;
}
body.light .attribution {
  transition: all 0.3s ease;
  color: #161722;
}
body.dark header {
  transition: all 0.3s ease;
  background-image: url("/todo/images/bg-mobile-dark.jpg");
}
body.dark .hero__title {
  transition: all 0.3s ease;
  color: white;
}
body.dark main {
  transition: all 0.3s ease;
  background: #161722;
}
body.dark .todo__check:checked ~ .todo__text {
  transition: all 0.3s ease;
  color: #4d5066;
}
body.dark .todo__field, body.dark .todo__list__item {
  transition: all 0.3s ease;
  color: #4d5066;
}
body.dark .todo__footer, body.dark .todo__navigation {
  transition: all 0.3s ease;
  color: #777a92;
}
body.dark .todo__field, body.dark .todo__list, body.dark .todo__navigation {
  transition: all 0.3s ease;
  background: #25273c;
  box-shadow: 0 5px 5px rgba(77, 80, 102, 0.12);
}
body.dark .todo__add {
  transition: all 0.3s ease;
  color: #777a92;
}
body.dark .todo__check--ds {
  transition: all 0.3s ease;
  border: 1px solid #161722;
}
body.dark .todo__list__empty {
  transition: all 0.3s ease;
  color: #777a92;
}
body.dark .todo__list__item {
  transition: all 0.3s ease;
  border-bottom: 1px solid #4d5066;
  color: #cacde8;
}
body.dark .todo__list__item:hover {
  background: #4d5066;
}
body.dark .navigation__tabs:hover {
  color: #4d5066;
}
body.dark .navigation__tabs.active {
  color: #216afd;
}
body.dark .attribution {
  color: #cacde8;
}

header {
  min-height: 30vh;
  padding-top: 8vh;
  padding-left: 5vw;
  padding-right: 5vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__title {
  letter-spacing: 5px;
}
.hero__mode {
  cursor: pointer;
  transition: all 0.3 ease;
}
.hero__mode:hover {
  border-radius: 5px;
  transform: scale(1.2);
}

main {
  min-height: 70vh;
  position: relative;
}

.todo {
  margin-top: -15vh;
  padding: 0 5vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}
.todo__field, .todo__list__item, .todo__navigation {
  padding: 1rem;
}
.todo__field, .todo__list__item, .todo__footer, .todo__navigation {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.todo__field, .todo__list, .todo__navigation {
  border-radius: 5px;
}
.todo__add {
  border: 0;
  font-weight: normal;
  outline: none;
  width: 100%;
  background: transparent;
}
.todo__list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.todo__list__empty {
  font-size: 14px;
  margin: 1rem auto;
}
.todo__list__item {
  cursor: pointer;
}
.todo__check {
  display: none;
}
.todo__check:checked + .todo__check--ds {
  background: linear-gradient(-45deg, #c058f3, #57ddff);
  border: 1px solid #9fbffe;
}
.todo__check:checked + .todo__check--ds::after {
  content: "";
  margin: 3px;
  background-image: url("/todo/images/icon-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}
.todo__check--ds {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.todo__check:checked ~ .todo__text {
  text-decoration: line-through;
}
.todo__text {
  flex: 1;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.todo__clear {
  cursor: pointer;
  width: 18px;
  height: 18px;
  fill: #9394a5;
}
.todo__clear:hover {
  fill: #484b6a;
}
.todo__clear--all {
  cursor: pointer;
}
.todo__clear--all:hover {
  color: #484b6a;
}
.todo__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo__footer .todo__remaining {
  display: block;
  margin: 1rem;
}
.todo__footer .todo__clear--all {
  display: block;
  margin: 1rem;
}
.todo__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.todo__navigation .todo__footer {
  display: none;
}
.todo__navigation .todo__footer p {
  margin: 0;
}
.todo__helper {
  margin: 2rem auto;
  color: #9394a5;
}

.todo__remaining {
  white-space: nowrap;
}

.todo__clear--all {
  white-space: nowrap;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation__tabs {
  font-size: 14px;
  font-weight: bold;
  margin: 0 5px;
  cursor: pointer;
}

@media only screen and (min-width: 960px) {
  body.light header {
    background-image: url("/todo/images/bg-desktop-light.jpg");
  }
  body.dark header {
    background-image: url("/todo/images/bg-desktop-dark.jpg");
  }

  .todo {
    padding: 0 30vw;
    min-width: 80vw;
  }
  .todo__list__item:last-child {
    border-bottom: 0 !important;
  }
  .todo__list .todo__footer {
    display: none !important;
  }
  .todo__navigation .todo__footer {
    display: flex;
  }

  header {
    padding-left: 30vw;
    padding-right: 30vw;
  }
}
@-webkit-keyframes slidesIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slidesIn {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=card.css.map */